
.photo {
    height: 150px;
    width: 150px; 
    margin: 0px auto;
}

.title{
    text-align:center;
}

.desc{
}

div>div{
    display: flex;
    flex-wrap: wrap;
}

div>div>div{
    display: flex;
    flex-direction: column;
    margin:5em;
    width:300px;
}

